<div class="container">
  <header><img href="https://imgur.com/a/s4woZKs" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<font size="20"><p class="text-primary"> Welcome to LiftingLog! </p>
    <div class="container">
    <div class="content">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <div class="jumbotron">
      <p class="text-primary"><font size="15"> <a href="/login"> Login here! </a> </p>

      <font size="5"><a href="https://github.com/thebrianemory/corneal">README</a>.</p>
